{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- end header -->
    <div class="brand_color">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage">
                        <h2>Catalog</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- brand -->
    <div class="brand">
        <button class="my_filter_button text-center">filter</button>
        <div class="container">
            </div>
            <div class="brand-bg">
                <div class="container">
                    <div class="row">
                        {% for phon in phons %}
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 margin">
                            <div class="brand_box">
                                <img src="{% static phon.img %}" alt="{% static "img" %}" />
                                <h3><strong class="red">{{ phon.price }}$</strong></h3>
                                <span>{{ phon.name }}</span>
                                {% for i in phon.stars %}
                                    <i><img src="{% static "images/star.png" %}"/></i>
                                {% endfor %}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="col-md-12">
                            <a class="read-more">See More</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

    <!-- end brand -->

    <!-- footer -->
{% endblock content%}